.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}

mat-card-footer
{
    padding-left: 5%;
    padding-bottom: 1rem;;
}

.inst-logo
{
    height: 40px;
    width : 40px;
    border-radius: 50%;
    margin-top : -450%;
    margin-left: 90%;
    position: relative;
    border: solid white 3px;
   
}

#BookTable
{
    margin-top : 10px;
    margin-left:5%;
    margin-bottom: 1%;
    width : 90%;
    border-radius: 10px;
}

button:focus {
    outline: none;
  }

.action-button
{
    margin-left: 1rem;
}

.mat-card .book-thumbnail
{
    border-radius:5px;
    height: 200px;
    padding-left:10%;
    padding-right : 10%;
    margin-bottom: 1rem;
}

.mat-card
{
    align-content: center;
    height: fit-content;
}


.book
{
    margin-bottom: 1rem;
}

.book mat-card-title
{
    overflow-wrap: break-word;    
}

.mat-card-title span
{
    margin-bottom: 1%;
}

h5
{
    color : lightslategray;
}

.badge-info
{
    margin-left : 2px;
}
.avatar
{
    font-size: 30px;
}




mat-form-field
{
    width : 20%; 
    margin:1%;
}

@media screen and (max-width:760px)
{
    mat-form-field
{
    width : 45%;
}

.inst-logo
{
    margin-top: -550%;
    margin-left: 90%;
}
}