        <h1 mat-dialog-title>Change Password</h1>
        <div mat-dialog-content>
            <div style="text-align: center;">
                <mat-icon style="font-size: 50px; color: teal;">verified</mat-icon>
                <br>
                <h3>OTP Verified</h3>
            </div>
            <form [formGroup]="changePassForm">
                <mat-form-field class="form-group" appearance="outline" style="width:90%">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"  required placeholder="Enter new password">

                                <mat-icon matSuffix style="cursor:pointer" (click)="hide = !hide" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error style="font-size:15px;" *ngIf="password.hasError('required')">Value is required</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Password should be more than 8 characters</mat-error>
                        <mat-error *ngIf ="password.hasError('pattern')">Password must contain at least 1 capital letter,1 small letter, and 1 special character</mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">Password should not be more than 15 characters</mat-error>
                </mat-form-field>

                <mat-form-field class="form-group" appearance="outline"   style="width:90%;">
                        <mat-label>Re-enter New Password</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="resetPassword"  required placeholder="Renenter New password">
                        <mat-icon matSuffix style="cursor:pointer" (click)="hide2 = !hide2" >{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="resetPassword.hasError('required')">Value is required</mat-error>
                        <mat-error *ngIf="resetPassword.hasError('notMatching')">Password doesn't matches</mat-error>
                    </mat-form-field>
                <br>

            </form>
                        
        </div>
        <div mat-dialog-actions>
                <button (click)="changePass()" [disabled]="changePassForm.status == 'INVALID'" mat-raised-button mat-dialog-close color="primary">Change Password</button>
            <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
        </div>