
<div class="desktop-view">
        <mat-grid-list cols="7" rowHeight="110px">
                <mat-grid-tile 
                [colspan] = 4
                [rowspan] =6 >
                <img height=100%  width=100% style="margin-top: 100px;" src="/assets/images/forgot-password.jpg">
          
            </mat-grid-tile>
                    
                <mat-grid-tile
                [colspan] = 3
                [rowspan] = 6
                >
                
              </mat-grid-tile>
                
              </mat-grid-list>
        </div>
        <div class="mobile-view">
              <mat-grid-list cols="1" rowHeight="60px">
                  <mat-grid-tile 
                  [colspan] = 1
                  [rowspan] =5 >
                  <img height=200  width=200 style="margin-top: 100px;" src="/assets/images/forgot-password.jpg">
            
              </mat-grid-tile>
                      
                  <mat-grid-tile
                  [colspan] = 1
                  [rowspan] = 11
                  >
                 
                </mat-grid-tile>
                  
                </mat-grid-list>
                
           </div>   
           <div *ngIf="showLoader" class="loader">
           <mat-spinner color="primary"></mat-spinner><br>
           <span style="color: white; position: fixed; top:400px">Loading ...</span>
           </div>