
<div class="desktop-view">
        <mat-grid-list cols="7" rowHeight="110px">
                <mat-grid-tile 
                [colspan] = 4
                [rowspan] =6 >
                <img height=100%  width=100% style="margin-top: 100px;" src="/assets/images/forgot-password.jpg">
          
            </mat-grid-tile>
                    
                <mat-grid-tile
                [colspan] = 3
                [rowspan] = 6
                >
                <div class="login">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]='registered_email' matInput placeholder="Enter your registered email address" required>
                    <mat-hint>Enter your registered email</mat-hint>
                </mat-form-field>
                <br>
                <br>
                <button (click)="sendOtp()"
                [disabled]="registered_email == ''"  mat-raised-button color="primary" style="width : 100%; font-size: 15px; border-radius: 30px;">
                        Send OTP <mat-icon>send</mat-icon></button>
                        <br>
                        <p  *ngIf="otp_success" style="color: orange;">Resend OTP in {{otp_resend_in}} seconds </p>
                    <br>
                <span class="alert alert-success" *ngIf="otp_success">{{otp_success}}</span>
                <span class="alert alert-danger" *ngIf="otp_failure">{{otp_failure}}</span>
                <br><br>
                <div class="otp-form" *ngIf="otp_success">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>OTP</mat-label>
                    <input [(ngModel)]='otp' matInput placeholder="Enter {{otp_size}} digit otp sent to your registered mail" required>
                    <mat-hint>Enter a {{otp_size}} digit OTP</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 43%; margin-right: 4%;">
                    <mat-label>New Password</mat-label>
                    <input [(ngModel)]='new_pass' matInput placeholder="Enter your new Password" required>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 43%;">
                    <mat-label>Re-Enter New Password</mat-label>
                    <input  matInput placeholder="Re-Enter your new Password" required>
                </mat-form-field><br>
                <button 
                 mat-raised-button color="primary" style="width : 100%; font-size: 15px; border-radius: 30px;">
                        Change Password</button>
                </div>
                        </div>
              </mat-grid-tile>
                
              </mat-grid-list>
        </div>
        <div class="mobile-view">
              <mat-grid-list cols="1" rowHeight="60px">
                  <mat-grid-tile 
                  [colspan] = 1
                  [rowspan] =5 >
                  <img height=200  width=200 style="margin-top: 100px;" src="/assets/images/forgot-password.jpg">
            
              </mat-grid-tile>
                      
                  <mat-grid-tile
                  [colspan] = 1
                  [rowspan] = 11
                  >
                 
                </mat-grid-tile>
                  
                </mat-grid-list>
                
           </div>   
           <div *ngIf="showLoader" class="loader">
           <mat-spinner color="primary"></mat-spinner><br>
           <span style="color: white; position: fixed; top:400px">Loading ...</span>
           </div>