.bookForm
{
    padding:2%;
    margin : 7%;
    border-radius:5px;
}

.form-group 
{
    margin:1%;
    width: 45%;
    
}

mat-form-field
{
    width: 100%;
    font-size :20px;
}


.header
{
    background-color: lightblue;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000;
}

.header mat-card-subtitle
{
    color: #000;
}

@media screen and (max-width : 800px)
{
    .form-group 
    {
        width : 90%;
    }

    .form-group img
    {
      width : 90%;
      margin-right : 20px;
    }
}