
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <div  *ngIf="visible" class="search-box">
                  <input type ="text" [(ngModel)]="keyword" class ="txt" placeholder ="Search Here..." (change)="search(searchWindow)">
                  <button [disabled]="keyword == ''" (click)="search(searchWindow)" mat-fab color="primary" class ="btn"><mat-icon>search</mat-icon></button>
                  <button  mat-mini-fab color="primary" class ="fake-btn"><mat-icon>search</mat-icon></button>
             
            </div>
            <ng-template #searchWindow> 
                    <h1 mat-dialog-title>Search Results</h1>
                    <div mat-dialog-content>
                            
                            <mat-button-toggle-group  style="justify-content: flex-center; display: flex;" [(ngModel)]="toggle" name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle color="primary" selected value="people"><mat-icon>supervisor_account</mat-icon><span class="desktop-view" > People </span></mat-button-toggle>
                                    <mat-button-toggle color="primary" value="book"><mat-icon>slideshow</mat-icon><span class="desktop-view" >  Media</span></mat-button-toggle>
                                    <mat-button-toggle color="primary" value="institutes"><mat-icon>account_balance</mat-icon><span class="desktop-view" >  Institute</span></mat-button-toggle>
                                  </mat-button-toggle-group>  <br><br>

                                <span *ngIf="toggle == 'book'">
                                <div class="alert alert-danger alert-dismissible fade-in" *ngIf = "noBook">
                                                {{noBook}}
                                </div>
                                <span *ngFor="let book of bookList" (click)="goToBook(book.book_id)">
                                <img height=60 width=60 style="border-radius : 50%; margin-right: 10px;" src= "{{book.thumbnail_source ? bookThumbnailUrl + book.thumbnail_source : '/assets/images/img.png'}}">
                                <img height=25 width=25 style="border-radius : 50%; border: solid whitesmoke 2px; margin-left:-30px; margin-top:40px; margin-right: 10px; background: white;" 
                                src= "{{book.institute_avatar ? logoUrl + book.institute_avatar : '/assets/images/insimg.png'}}">

                                                <a style="color : cornflowerblue">{{book.book_name}}</a>
                                                <mat-divider></mat-divider>
                                        </span><br>
                               <button *ngIf = "!noBook && bookLoadMore" style="display : flex; justify-content: flex-center; width:100%;" (click)="loadMore('book')"mat-raised-button><mat-icon>keyboard_arrow_down</mat-icon> Load more </button>
                                </span>
                                <span *ngIf="toggle == 'people'">
                               <div class="alert alert-danger alert-dismissible fade-in" *ngIf = "noUser">
                                                        {{noUser}}
                                </div>
                                
                                <span *ngFor="let user of userList" (click)="goToUser(user.user_id)">
                                                <img height=60 width=60 style="border-radius : 50%; margin-right: 10px;" src= "{{user.avatar ? profileImgUrl + user.avatar : '/assets/images/user.png'}}">
                                                <a style="color : cornflowerblue">{{user.name}}</a>
                                                <mat-divider></mat-divider>
                                        </span><br>
                                        <button *ngIf = "!noUser && userLoadMore" style="display : flex; justify-content: flex-center; width:100%;" (click)="loadMore('user')" mat-raised-button><mat-icon>keyboard_arrow_down</mat-icon> Load more </button>
                                
                                   </span>
                                <span *ngIf="toggle == 'institutes'">
                                <div class="alert alert-danger alert-dismissible fade-in" *ngIf = "noInstitute">
                                                              {{noInstitute}}
                                </div>
                                <span *ngFor="let ins of instituteList">
                                                <img height=60 width=60 style="border-radius : 50%; margin-right: 10px;" src= "{{ins.avatar ? logoUrl + ins.avatar : '/assets/images/insimg.png'}}">
                            
                                                <a style="color : cornflowerblue">{{ins.organisation_name}}</a>
                                                <mat-divider></mat-divider>
                                        </span><br>
                                        <button *ngIf = "!noInstitute && insLoadMore" style="display : flex; justify-content: flex-center; width:100%;" (click)="loadMore('institute')" mat-raised-button><mat-icon>keyboard_arrow_down</mat-icon> Load more </button>
</span>
                    </div>
                    
                                <mat-spinner *ngIf="showLoader" style="margin-left : 40%; font-size:100px;" ></mat-spinner>
                                
                    <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="close()" mat-dialog-close><mat-icon>highlight_off</mat-icon>Close</button>
                    </div>
                    
                </ng-template>