.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
button
{
    width: 90%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    white-space: normal;
    word-wrap: break-word;
}

button.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.mat-tooltip.tooltip 
{
background-color: darkblue;
font-size: 50px;
}
button:focus {
  outline: none;
}
.mat-raised-button
{
  height : 200px;
}