.example-container {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mobile-menu
  {
      position:fixed;
      top :130px;
      z-index : 5;
      text-align : center;
  }
  
  .sidenav
  {
      max-height: 100%;
      width:25%;
      padding-top: 185px;
  }

  

  .mobile-menu .mat-mini-fab
  {
      margin:5px;
  }

  .mat-mini-fab
  {
      margin: 10px;
      text-align: center;
  }

  .mat-raised-button
  {
      width : 95%;
      padding: 2%;
      margin: 2%;
  }
  .auto-flip
  {
      margin-right: 1rem;
  }

  .create-new
  {
      position: fixed;
      bottom: 5%;
      left : 70%;
      top :85%;
  }

  @media screen and (max-width : 700px)
  {
    .create-new
    {
        position: fixed;
        left : 70%;
        
    } 
  }

  @media only screen and (max-width : 1100px)
  {
    .create-new
    {
        position: fixed;
        left:80%;
        top:90%;
        
    } 
  }

  .mobile-menu
  {
      display : none;
  }

  @media only screen and (max-width : 1110px)
  {
      .mobile-menu
      {
          display : block;
      }
  }

  .mobile-right-sidebar
  {
      display : none;
  }

  @media only screen and (max-width : 1110px)
  {
    .mobile-right-sidebar
      {
          display : block;
      }
  }
  

  mat-card
  {
      padding: 1rem;
      margin: 1rem;
      border-radius: 5px;
  }

  mat-card mat-card-header
  {
      background-color: lightblue;
      border-radius: 5px;
      padding: 1rem;

  }

  button
  {
    white-space: normal; 
    word-wrap: break-word;
  }

  .avatar
  {
      height: 50px;
      width : 50px;
      border-radius : 50%;
      margin:1%;
  }

  @media screen and (max-width : 1100px)
  {
      mat-sidenav
      {
          display: none;
      }
  }