.bookForm
{
    padding:2%;
    margin : 7%;
    border-radius:5px;
}

mat-form-field
{
    width: 100%;
    font-size :20px;
}

.form-group 
{
    margin:1%;
    width: 45%;
    
}

.header
{
    background-color: lightblue;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    color : black;
}

.header mat-card-title
{
    color : black;
}

.header mat-card-subtitle
{
    color: black;
}

@media screen and (max-width : 800px)
{
    .form-group 
    {
        width : 90%;
    }
}