.bookForm
{
    padding:2%;
    margin : 7%;
    border-radius:5px;
}

.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}

mat-form-field
{
    width: 100%;
    font-size :20px;
}

.form-group 
{
    margin:1%;
    width: 45%;
    
}

.header
{
    background-color: lightblue;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    color : black;
}

.header mat-card-title
{
    color : black;
}

.header mat-card-subtitle
{
    color: black;
}

@media screen and (max-width : 800px)
{
    .form-group 
    {
        width : 90%;
    }
}

button:focus {
    outline: none;
  }