.institute
{
    width: 90%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    white-space: normal;
    word-wrap: break-word;
}

.institute.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.mat-tooltip.tooltip 
{
background-color: darkblue;
font-size: 50px;
}
button:focus {
  outline: none;
}
.institute 
{
  height : 200px;
}

.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}

.library-menu
{
    background-image: url("../../../../../assets/images/library.jpg");
    background-size: cover;
    height: 100%;
    padding-top : 150px; 
}

.library-menu div
{
    display: inline;

}

button:focus {
    outline: none;
  }

.library-menu .row
{
    margin-left : 10%;
}

.action-button
{
    width:350px;
    height: 100px;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.ins_name
{
    font-size : 40px
}

@media screen and (max-width : 1100px)
{
    .ins_name
    {
        font-size: 20px;
    }
}

@media screen and (max-width : 380px)
{
    .action-button
    {
        width : 340px;
    }

    .library-menu
    {
        margin-left: 1px;
    }
}



