.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}
button:focus {
    outline: none;
  }


.info
{
    font-size: 15px;
    color: cornflowerblue;
    margin-right: 10px;
}

.logo
{
    height: 100px;
    width:100px;
    margin-right: 15px;
    margin-left : 15px;
}

.header
{
    text-align: center;
}

.header .heading
{
    color: gray; font-size: 30px;margin-right: 15px;
}

.header .sub-heading
{
    color:red;font-size: 30px;
}

.count img
{
    border-radius : 50%;
    height: 200px;
    width:200px;
    margin: 10px;
    text-align: center;
}

.count .number
{
    color: coral;
    font-size: 100px;
    margin-right: 5px;
}

.count 
{
    color: coral;
    font-size: 30px;
}