.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}
button:focus {
    outline: none;
  }


.info
{
    font-size: 15px;
    color: cornflowerblue;
    margin-right: 10px;
}

.logo
{
    height: 100px;
    width:100px;
    margin-right: 15px;
    margin-left : 15px;
}

.header
{
    text-align: center;
}

.header .heading
{
    color: gray; font-size: 30px;margin-right: 15px;
}

.header .sub-heading
{
    color:red;font-size: 30px;
}

.header .sub-heading mat-raised-button
{
    height: 60px;
}

.count img
{
    border-radius : 50%;
    height: 200px;
    width:200px;
    margin: 10px;
    text-align: center;
}

.count .number
{
    color: coral;
    font-size: 100px;
    margin-right: 5px;
}

.count 
{
    color: coral;
    font-size: 30px;
}

.section
{
    text-align: center;
}

.section h1
{
    color: gray;
    font-size: 50px;
}

@media screen and (max-width : 600px)
{
  .logo
  {
    height: 50px;
    width : 50px;
  }

  .header .heading
  {
    font-size: 20px;
  }

  .header .sub-heading
  {
    font-size: 10px;
  }

  .count img
  {
    height: 100px;
    width : 100px;
  }

  .count .number
  {
    font-size: 50px;
  }

  .count
  {
    font-size: 20px;
  }

  .section h1
  {
    font-size: 20px;
  }
  
  .info
  {
    font-size: 10px;
  }
}













.example-viewport {
    min-height: 310px;
    width: 240px;
    border: 1px solid transparent;
  }

.example-container {
    width: 240px;
    max-width: 100%;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
  }

  .icon{
      height: 40px;
      width : 40px;
      border-radius: 50%;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

 