button:focus {
    outline: none;
  }

  mat-form-field
  {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }

  mat-form-field button:focus {
    outline: none;
  }

  .logo
  {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  