<button 
[ngClass]="{
  'expired' : currentRole ? isRoleExpired(currentRole) : false,
  'active' : currentRole ? !isRoleExpired(currentRole) && currentRole.is_activated && currentRole.active : false,
  'pending_user' : currentRole ? !isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.approval == 'user' : false,
  'pending_admin' : currentRole ? !isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.approval == 'admin' : false,
  'revoked' : currentRole ? !currentRole.active : false,
  'not_assigned' : !currentRole ? true : false
}"  [disabled]="disabled" (click)="open(access_id,accessManager)" matTooltip="Manage Access"  mat-mini-fab class="action-button" color='info' >
  <mat-icon
  >add_task</mat-icon>
</button>


<!-- access Manage modal-->
<ng-template #accessManager> 
        <h1 mat-dialog-title > Manage User Access</h1>
        <mat-icon  *ngIf="system_admin" style="color : blue;font-size: 50px; margin-right: 15px;">admin_panel_settings</mat-icon> 
        <img *ngIf="!system_admin" class="logo" src="{{currentInstitute ? imgUrl + currentInstitute.avatar : '/assets/images/insimg.png'}}">
        <h2 *ngIf="system_admin" style="color:gray">SYSTEM ADMIN</h2>
        <h2 *ngIf="!system_admin" style="color:gray;margin-right: 10px; display: inline;">{{currentInstitute.organisation_name}}  </h2>
        <button matTooltip="Remove Permanently" *ngIf="currentRole" mat-fab color="accent" (click)="removeAccess()">
            <mat-icon>delete_forever</mat-icon></button>
          <br>
         <div mat-dialog-content>
           <div *ngIf="currentRole" class="alert alert-info">
             <span style="margin-right: 10px;"><strong>CURRENT ACCESS : </strong></span>
             <span style="color: cornflowerblue; margin-right: 10px;"><strong>{{(currentRole ? currentRole.role : "" )| roleTranslate}}</strong></span>
             <span style="color: gray; margin-right: 10px;">Valid Upto : <b>{{ currentRole && currentRole.valid_upto ? currentRole.valid_upto.split('T')[0] : 'Lifetime'}}</b></span>
             <span *ngIf="!isRoleExpired(currentRole) && currentRole.is_activated" style="color : green ;display: inline; margin-right: 20px;">ACTIVE</span>
             <span *ngIf="!isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.approval == 'user'" style="color : orange ;display: inline; margin-right: 20px;">Pending approval from User</span>
             <span *ngIf="!isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.approval == 'admin'" style="color : coral ;display: inline; margin-right: 20px;">Pending approval from Institute Admin</span>
            <span *ngIf="isRoleExpired(currentRole)" style="color :red ;display: inline; margin-right: 20px;">EXPIRED</span>
            <span *ngIf="!currentRole.active" style="color :red ;display: inline; margin-right: 20px;">ACCESS REVOKED</span>
            <button *ngIf="currentRole.active && !isRoleExpired(currentRole)" mat-raised-button color="warn"
            (click)="revokeAccess()">
              <mat-icon>published_with_changes</mat-icon>
              Revoke Access</button>
              <button *ngIf="!currentRole.active && !isRoleExpired(currentRole)" mat-raised-button color="primary"
              (click)="renewAccess()">
                <mat-icon>add_task</mat-icon>
                Renew Access</button>
           </div>
           <br>
           <form [formGroup]="regRequestForm"
           *ngIf="currentRole ? !isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.active && currentRole.approval == 'admin' : false">
           <mat-form-field class="form-group" appearance="outline" style="width: 40%;">
            <mat-label>Access valid upto</mat-label>
            <input [min]="minDate" matInput formControlName="reg_valid_upto"  placeholder="Choose a date" [matDatepicker]="datepicker">
            <mat-datepicker-toggle  matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>                           
      </mat-form-field>
      <mat-button-toggle-group 
      *ngIf="currentRole ? !isRoleExpired(currentRole) && !currentRole.is_activated && currentRole.active && currentRole.approval == 'admin' : false"
      >
          <mat-button-toggle mat-raised-button   color = "primary"
           (click)="approveAccess()"> <mat-icon>beenhere</mat-icon> 
           <strong id="approveRole">APPROVE AS {{approveAccessRole | roleTranslate }}</strong>
          </mat-button-toggle>
          <mat-button-toggle mat-raised-button [matMenuTriggerFor]="roles"
           color = "primary" ><mat-icon>expand_more</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
        <mat-menu  #roles="matMenu" >
            <button mat-menu-item (click)="changeApproveRole('IADMIN')">Approve Admin Access</button>
            <button mat-menu-item (click)="changeApproveRole('CADMIN')">Approve Content Admin Access</button>
            <button  mat-menu-item (click)="changeApproveRole('STUDENT')">Approve Student Access</button>
         </mat-menu>
         <hr>
      </form>
               
            <form [formGroup]="accessManagerForm">
                <mat-form-field  class="form-group" appearance="outline" style="width: 40%;">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required (selectionChange)="resetAccessList($event)">
                        <mat-option *ngIf="system_admin" value="SADMIN">SYSTEM ADMIN</mat-option>
                        <mat-option *ngIf="!system_admin" value="IADMIN">INSTITUTE ADMIN</mat-option>
                        <mat-option *ngIf="!system_admin" value="CADMIN">CONTENT ADMIN</mat-option>
                        <mat-option *ngIf="!system_admin" value="STUDENT">STUDENT</mat-option>
                      </mat-select>
                      <mat-error *ngIf="role.hasError('required')">Value is required</mat-error>
                </mat-form-field>  

                <mat-form-field *ngIf="!system_admin" class="form-group" appearance="outline" style="width: 40%;">
                        <mat-label >{{mode == 'institute' ? 'Institutes' : 'Users'}} </mat-label>
                        <mat-select multiple [disabled]="role.value == 'SADMIN' ? true : false" formControlName="access_list"  placeholder="{{mode == 'institute' ? 'Add Institute' : 'Add User'}}">
                                <mat-option  [(value)] = "mode == 'institute' ? currentInstitute.organisation_id : access_id"  matTooltip="{{mode == 'institute' ? currentInstitute.organisation_name : ''}}">
                                {{mode == 'institute' ? currentInstitute.organisation_name : ""}} 
                            </mat-option>
                              </mat-select>
                              </mat-form-field>
                                            

                <mat-form-field class="form-group" appearance="outline">
                    <mat-label>Access valid upto</mat-label>
                    <input [min]="minDate" matInput formControlName="valid_upto"  placeholder="Choose a date" [matDatepicker]="picker">
                    <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>                           
              </mat-form-field>
            </form>
                   
         </div>
         <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" [disabled]="disabledGiveAccess()" (click)="giveAccess()"
            ><mat-icon>verified</mat-icon>Give Access</button>
           <button mat-raised-button color="warn" mat-dialog-close>Close</button>
         </mat-dialog-actions>
         
       </ng-template>


      

       