button:focus {
    outline: none;
  }

  mat-form-field
  {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }

  mat-button-toggle-group 
  {
    margin-left: 5%;
  }

  mat-form-field button:focus {
    outline: none;
  }

 .expired
 {
   background-color : grey;
 }

 .active
 {
   background-color : limegreen;
   color:white
 }

 
 .pending_user
 {
   background-color: orange;
   color:white;
 }

 .pending_admin
 {
   background-color: darkgoldenrod;
   color:white
 }

 .revoked
 {
   background-color :red;
   color : white;
 }

 .not_assigned
 {
   background-color : cornflowerblue;
   color:white
 }
  .logo
  {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  
  @media screen and (max-width:600px)
  {
    #approveRole
    {
      display: none;
    }
  }