.loader
{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
mat-spinner
{
    position: fixed;
    top : 250px;
    z-index: 100;
    justify-content: center;
}


.orgForm
{
    padding:2%;
    margin : 7%;
    border-radius:5px;
}

.form-group 
{
    margin:1%;
    width: 45%;
    
}
button:focus {
    outline: none;
  }
.logo
{
    height: 200px;
    width : 200px;
    border-radius: 50%;
    border: 5px dashed lightblue;
    margin : 1rem;
}

.header
{
    background-color: lightblue;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}

.header mat-card-title
{
    color : black;
}

.header mat-card-subtitle
{
    color: black;
}

mat-form-field
{
    width: 100%;
    font-size :20px;
}

@media screen and (max-width : 800px)
{
    .form-group 
    {
        width : 90%;
    }

    .form-group .org-img
    {
      width : 90%;
      margin-right : 20px;
    }
}
.org-img
{
    width : 30%;
    margin-right : 20px;
}