mat-progress-spinner
{
    position:fixed;
    top:50%;
    left:50%;
}
mat-drawer-container
{
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
  }


mat-form-field mat-error
{
    font-size: 15px;
}

.module-button  button
{
    padding: 2px;
}

.mobile-module-button button
{
    padding : 1px;
}
.mobile-module-button
{
    display:none;
}

.breadcrumb
{
    position:fixed;
    z-index: 2;
    top:50px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}
button:focus {
    outline: none;
  }
 
.example-spacer {
    flex: 1 1 auto;
  }

.auto-flip
{
    font-size: 30px;
}

h1{
    font-size: 40px;
}

span
{
    margin-right: 10px;
    margin-top: 25px;
}

@media screen and (max-width : 1100px)
{
    .module-button
    {
        display:none;
    }
    .mobile-module-button
    {
        display : block;
    }
}